import React from 'react';

interface {{pascalCase name}}Props {
  children?: React.ReactNode;
  // Add your other props here
}

const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = ({ children }) => {
  return (
    <div>
      {/* Add your component code here */}
      {children}
    </div>
  );
};

export default {{pascalCase name}};
